/* Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, code, em, strong, b, i, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

/* Main Styles*/

body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background: #035F75;
    color: #fff;
}
#page {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
#header {
    margin: 20px;
}
#header h1 {
    color: #FF9731;
    text-shadow: 2px 2px #BD5E00;
    font-family: Audiowide, sans-serif;
    font-weight: 400;
    font-size: 2.25em;
    padding: 5px;
    /* 36px / 16px */
}
#header a {
    text-decoration: none;
}
#header a:hover h1 {
    color: #FFAD5D;
}
#header span {
    font-family: Audiowide, sans-serif;
    font-size: 1.25em;    /* 20px / 16px */
    line-height: 1.25;
    font-weight: 400;
}
pre.bot {
    font-family: Inconsolata, Consolas, Courier New, Courier, monospace;
    font-size: 1.25em;
    /* 20px / 16px */
    display: inline-block;
    padding-bottom: 10px;
}
.nav ul {
    list-style: none;
    margin: 15px 0;
    font-size: 16px;
}
.nav ul li {
    margin: 5px 0;
}
button, .nav ul li a {
    background: #EE7600;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;
    display: block;
    margin: 10px auto;
    padding: 5px 5px;
    width: 10em;
    position: relative;
    transition: all .1s ease-in;
    top: 0px;
    left: 0px;
    box-shadow: 5px 5px #BD5E00;
}
button:active, .nav ul a:active {
    transition: all .1s ease-in;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px #BD5E00;
}
.nav ul li a {
    text-decoration: none;
    text-transform: lowercase;
}
.nav ul li a:active {} button {
    cursor: pointer;
    border: 0;
    display: inline-block;
    width: auto;
}
.panel {
    max-width: 270px;
    margin: 5px auto;
    padding: 5px 0;
    text-align: center;
    background: #024A5B;
}
.panel span {
    text-transform: uppercase;
    font-family: Inconsolata, Consolas, Courier New, Courier, monospace;
    font-size: 20px;
    display: inline-block;
    min-width: 3em;
    margin: 5px;
}
.panel h2 {
    margin: 5px 20px 0;
    border-bottom: 1px solid #fff;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.panel button {
    background: #2288A0;
    box-shadow: 5px 5px #047893;
}
.panel button:active {
    box-shadow: 0px 0px #047893;
}
.comment {
    position: relative;
    display: block;
    margin: 20px auto;
    padding: 5px;
    background: #024A5B;
    border-radius: 10px;
    clear: left;
    overflow: auto;
}
.comment .bot {
    font-size: .875em;
    /* 14px / 16px */
    font-weight: normal;
    font-family: Courier New, Courier, monospace;
    border-radius: 10px;
    background: #111;
    margin: 5px 0 0;
    padding: 10px 5px;
    display: block;
    float: left;
}
.username {
    border-radius: 5px;
    display: block;
    padding: 5px;
    text-align: left;
    color: black;
    font-weight: bold;
}
.timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    color: #000;
}
.commenttext {
    line-height: 1.5em;
    float: left;
    text-align: left;
    padding: 10px 10px 5px;
    width: 60%;
}
.commenttext pre {
    font-family: monospace;
}
.commenttext a {
    color: #FF9731;
}
.form {
    margin: 20px auto;
    padding: 5px;
    background: #024A5B;
    border-radius: 10px;
}

button#add {float: right; margin-right: 15px;}
button#remove {float: left; margin-left: 15px;}

#ribbon img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
@media screen and (max-width: 639px) {
    #ribbon {
        display: none;
    }
}
