/* Reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, code, em, strong,
b, i, ol, ul, li,
fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background: #047893;
    color: #fff;
}

/*Main Styles*/
#page {
    width 90%
    margin: 0 15px;
}
#header h1 {
    color: #FF9731;
    text-shadow: 2px 2px #BD5E00;
    padding: 15px 0;
    font-family: Audiowide, sans-serif;
    font-weight: 400;
    font-size: 2.25em; /* 36px / 16px */
}
pre {
    font-family: Inconsolata, Consolas, fixed-width;
    font-size: 20px;
}
.bot {
    display: inline-block;
}
.links ul{
    list-style: none;
    margin: 15px 0;
    font-size: 16px;
}
.links ul li {
    margin: 5px 0;
}
.links ul li a {
    background: #EE7600;
    text-decoration: none;
    font-weight: bold;
    text-transform: lowercase;
    letter-spacing: 3px;
    color: #fff;
    display: block;
    margin: 10px auto;
    padding: 5px 2px;
    width: 10em;
    position: relative;
    transition: all .1s ease-in;
    top: 0px;
    left: 0px;
    box-shadow: 5px 5px  #BD5E00;
}
.links ul a:active {
    transition: all .1s ease-in;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px #BD5E00; 
}
#ribbon img {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
}
@media screen and (max-width: 639px) {
    #ribbon {
        display: none;
    }
}